<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/about.css">
    <link rel="stylesheet" href="../styles/header.css">
    <title>Document</title>
</head>
<body 
    class="body"
    style="
    margin: 0; 
    padding: 0; 
    text-align: 
    center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.428), rgba(255, 255, 255, 0.668)),url('../images/mangyan3.jpg');    
    z-index: -100;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1500px;
    background-attachment: fixed;
    height: 3000px;
">
    <script src="../js/header.js"></script>
    <header id="header"></header>

    <img class="pna-logo" src="../images/pna-logo.png">
    <div class="image-background"
        style="
            background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.39)), url('../images/about.jpg');
            z-index: 100;
        "
    >
    
    </div>

    <div class="m-v-container">
        <div class="mission-container">
            <p class="title">MISSION</p>
            <div class="content-container">
                <p class="text">
                    "PNA Misyonero is a group of youth leaders and volunteers of Puso ng Ama Foundation, Inc. serving the Lord Jesus and touched by Him through their experiences in ministry."
                </p>
                <img src="../images/mission-logo2.png">
            </div>
        </div>
    
        <div class="vision-container">
            <p class="title">VISION</p>
            <div>
                
                <p class="text">
                    We desire to empower other people especially to the poor to exercise their Catholic faith and become their lifestyle; to pursue a life for the The Lord as acknowledgement of His love; and to reach out to the other places to spread The Good news.
                </p>
                <img src="../images/vision-logo.png">
            </div>
        </div>

        <div class="values-container">
            <p class="title">VALUES</p>
            <div>
                
                <p class="text">
                    We desire to empower other people especially to the poor to exercise their Catholic faith and become their lifestyle; to pursue a life for the The Lord as acknowledgement of His love; and to reach out to the other places to spread The Good news.
                </p>
                <img src="../images/values-logo.png">
            </div>
        </div>


    </div>

    
    
    

    

    <div class="who-are-we-container">
        <div class="container">
            <p class="title">WHO WE ARE</p>
        
            <p>
                Our goals...Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <img src="../images/youth.png">
            <a href="https://www.facebook.com/pnayouth" target="_blank">https://www.facebook.com/pnayouth</a>
        </div>
        
           
       
    </div>


    
</body>
</html>