<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/record.css">
    
    <title>Document</title>
</head>
<body style="text-align: center;">
    <div class="donation-record-container">
        <p class="title">Donation's Record</p>
        <div class="donation-container">
            <div class="title-container"
                style="
                    display: flex;
                    justify-content: center;
                    align-items: center;
                "
            >
                <img src="../images/heart.png" class="heart-logo">
                <p>DONATION</p>
            </div>


            <div class="grid-container">
                
                <ul>
                    <li>Name</li>
                    <li>Date</li>
                    <li>Amount</li>
                    <li>Recipient</li>
                    <li>Username</li>
                </ul>
    
                <ul>
                    <li>Anothony Doyle</li>
                    <li class="date">09/27/2024</li>
                    <li class="amount"><span style="color: black; font-size: 25px;">&#8369;</span>2000</li>
                    <li>Clyde Timothy Ador</li>
                    <li>clydeador27</li>
                </ul>
                
            
                
            </div>


            

            
            
        </div>
    </div>
</body>
</html>